@import 'bulma/sass/utilities/initial-variables.sass';
@import "bulma/sass/utilities/functions";
@import 'variables.scss';

$newColors: (
    nighthold: ($nighthold, $nighthold-invert),
    antorus: ($antorus, $antorus-invert),
    nightmare: ($nightmare, $nightmare-invert),
    tos: ($tos, $tos-invert),
    info: ($info, $white),
    primary: ($primary, $white)
);

@import "bulma/sass/utilities/derived-variables.sass";

$colors: map-merge($colors, $newColors);

$tablet: 969px;
$desktop: 1160px + (2 * $gap);
$widescreen: 1352px + (2 * $gap);
$fullhd: 1544px + (2 * $gap);

@import 'bulma/bulma.sass';

// strange issue with em vs rem
.notification > .delete {
    right: 0.5rem;
    top: 0.5rem;
}
