$nighthold: #3e1e80;
$nighthold-invert: #bca6f2;
$antorus: #2b803e;
$antorus-invert: #69cb7f;
$nightmare: #a43741;
$nightmare-invert: #f8808c;
$tos: #236267;
$tos-invert: #9da8a9;

$info: #888888;
$primary: #444444;
