html {
  background: #ccc;
}

.animate svg {
  transition: 1s;
  transform: translateX(7px);
}

.animate-rev svg {
  transition: 1s;
  transform: translateX(0px);
}

.main-container {
  max-width: 850px;
}

.spinner {
  font-size: 8em;
  animation: spinner-spin infinite 2s linear;
}

.spinner-container {
  max-width: 200px;
}

.back-container:hover {
  color: rgb(75, 25, 133);
  cursor: pointer;
}

@keyframes spinner-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.transitionable {
  transition: 0.5s;
}

.transitionable.show {
  opacity: 1;
  visibility: visible; 
}

.transitionable.hide {
  opacity: 0;
  visibility: hidden;
}

.cancel-button {
  margin-top: 0.5em;
  font-size: 2em;
}

.guild-box {
  margin-top: 0.5em;
}
